*{
    margin: 0;
}

body {
    height: 100%;
	background-color: black;	
}
h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 20px;
}
nav {
    position: fixed;
    width:100%;
    height: 50px;
    background-color: rgba(0,0,0,.5);
    z-index:99;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: darkgrey;
    margin-left: 30px;
    line-height: 50px;
    font-size: 200%;
}

.hidden { 
		display: none;
}

.sect {
    height:100%;
    background-size: cover;
    background-attachment: fixed;
}
.subSect {
    height: 20%;
	background-color: black;
}
.sect1 {
    background-image: url("../backgrounds/1179-pastel-circles-1920x1080-abstract-wallpaper.jpg");

}
.sect2 {
    background-image: url("../backgrounds/desktop-wallpaper-nature-hd-free-dowload.jpg");
}
.sect3 {
    background-image: url("../backgrounds/royalty-free-backgrounds-1920x1080.jpg");
}
.testpic {
    display: inline-block;
    border-radius: 3px;
    width: 250px;
    height: 250px;
    background: #ccc;
    margin:5px;
    border: 5px solid #1C1C22;
    -webkit-transition: border 0.5s;
}
.testpic:hover {
    display: inline-block;
    background: #ccc;
    margin:5px;
    border: 5px solid #8AC007;
}
.container {
    margin: auto;
    border: 10px solid #1C1C22;
    background-color: rgba(0,0,0,.5);
    border-radius: 20px;
    text-align: center;
    width: 80%;
}

.container2 {
    margin: auto;
    border: 10px solid #1C1C22;
    background-color: rgba(0,0,0,.5);
    border-radius: 20px;
    text-align: center;
    width: 95%;
}

.container3 {
    margin: auto;    
    background-color: rgba(0,0,0,.5);    
    text-align: center;
    width: 95%;
}

img {
    width:250px;
    height:250px;
}
.button {
    display: inline-block;
    border-radius: 3px;
    background-color: rgba(0,0,0,.5);
    margin:5px;
    border: 5px solid #1C1C22;
    font-size:200%;
    color:darkgray;
    -webkit-transition: border 0.5s;
}
.button:hover {
    display: inline-block;
    background-color: #1C1C22;
    margin: 5px;
    border: 5px solid #8AC007;
}