body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}
table {
	width: 100%;
}
.center {
    margin: auto;
    width: 60%;
    border:3px solid #8AC007;
    padding: 10px;